<div id="portfolio">
    <div class="container text-center mt-5">
        <h2>PORTFOLIO COMPONENT</h2>
        <div class="decoration mb-5">
            <div class="row text-center">
                <div class="col-md-1 line-one position-relative"></div>
                <div class="col-md-1 icon position-relative">
                    <i class="fa-solid fa-star "></i>
                </div>
            <div class="col-md-1 line-two  position-relative"></div>
            </div>
        </div>

        <div class="row gy-5 ms-3 mb-5">
            <div class="item col-md-4 rounded-3 position-relative overflow-hidden me-3">
                   <img class=" rounded-3" src="assets/images/poert1.png" alt="">
                    <div class="layer rounded-3 z-1 position-absolute d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

                <div class="item col-md-4 rounded-3 position-relative overflow-hidden  me-3">
                    <img class=" rounded-3" src="assets/images/port2.png" alt="">
                    <div class="layer rounded-3 z-1 position-absolute d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

                <div class="item col-md-4 rounded-3 position-relative overflow-hidden ">
                    <img class=" rounded-3" src="assets/images/port3.png" alt="">
                    <div class="layer rounded-3 z-1 position-absolute d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

                <div class="item col-md-4 rounded-3 position-relative overflow-hidden  me-3">
                    <img class=" rounded-3" src="assets/images/poert1.png" alt="">
                    <div class="layer rounded-3 z-1 position-absolute d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

                <div class="item col-md-4 rounded-3 position-relative overflow-hidden  me-3">
                    <img class=" rounded-3" src="assets/images/port2.png" alt="">
                    <div class="layer rounded-3 z-1 position-absolute d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

                <div class="item col-md-4 rounded-3 position-relative overflow-hidden">
                    <img class=" rounded-3" src="assets/images/port3.png" alt="">
                    <div class="layer rounded-3 z-1 position-absolute d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
               </div>
 </div>
            
        </div>
<!-- <div id="showImage" class="d-none">
<div class="layer-image z-1 position-fixed d-flex justify-content-center align-items-center ">
    <img class="w-50" src="assets/images/poert1.png" alt="">
</div>
</div> -->