<div id="home">
    <div class="container text-center text-white py-5">
        <img class="w-25 mb-5" src="assets/images/avataaars.svg" alt="">
        <h2 class="text-center">START FRAMEWORK</h2>
    <div class="decoration">
     <div class="row text-center mb-5">
         <div class="col-md-1 line-one position-relative"></div>
         <div class="col-md-1 icon position-relative">
             <i class="fa-solid fa-star "></i>
         </div>
     <div class="col-md-1 line-two  position-relative"></div>
     </div>
 </div>
 <p class="mb-0 pb-5">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>